
.container {
	width: 700px;
	margin: 0 auto;
	padding-left: 20px;
	background: #80ac80;
	padding-bottom: 20px;
}
.px {
	width: 650px;
	text-align: justify;
}
h1 {
	text-align: center;
	padding: 26px 0 0 0;
	margin: 0;
}
h2{margin:0;}




















